# Ambientes virtuais
.venv/
venv/

# Cache do Python
__pycache__/
*.py[cod]
*$py.class

# Arquivos compilados
build/
dist/
*.egg-info/

# IDEs
.vscode/
.idea/

# Arquivos de sistema
.DS_Store
Thumbs.db

# Variáveis de ambiente
.env

# Modelos treinados (podem ser muito grandes)
models/

# Logs
*.log
